<% @page_title = "Update Admin User" %>

<%= link_to("Back to list", admin_users_path, :class => 'back-link') %>

<div>
  <h2>Update Admin User</h2>

  <%= form_for(@admin_user) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div>
        <%= f.submit("Update Admin User") %>
      </div>

  <% end %>
</div>
