<!DOCTYPE html>
<html>
	<head>
	  <title>SimpleCms<%= " | #{@page_title}" if @page_title %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
	
	<body>
	  <div id="header">
	  	<h1>Simple CMS</h1>
	  </div>
	  
	  <div id="main">
	  	<div id="content">
			  <!-- before yield -->
			  <%= yield %>
			  <!-- after yield -->
		  </div>
		  <div class="clear"></div>
	  </div>
	  
	  <div id="footer">
	  	<p id="copyright">&copy; memeshit.com</p>
	  </div>
	</body>
</html>
